body {
    font-family: 'Capriola', sans-serif;
    /* background: linear-gradient(to right bottom, #dbd1f1, #9d88cb); */
    color: #4A4A4A;
}

a{
    text-decoration: none;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: #fff;
    -webkit-mask-image: url('../images/icons/PuuurAmorLogoNoText.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url('../images/icons/PuuurAmorLogoNoText.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    display: block;
    margin-left: 0;
}

h1, h2{
    font-family: 'Capriola', sans-serif;
}
h3 {
    font-family: 'Cagliostro', sans-serif;
}
.bg-roxo {
    background-color: #B5A3E0;
}
.bg-amarelo {
    background-color: #FBE68A;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    background: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgncW6CI1ZMFmtS0F-6uwgcO_0pElm2jMJYI_Wu58meqOJm1UXuQnUoIgkUlXPIAcmcCM_JyWLs90xoWrJ1tgBtkJDLCLGEn59J7ukIRes_pqPcgGsBgR7M6vjUqLvwpF1-epX2unWY0Iy4/w0/cat-1-4K.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::after {
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5) ;
    width: 100%;
    height: 100vh;
    z-index: 0;
} 



.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5rem;
    max-width: 600px;
}

.btn-hero {
    background-color: #FBE68A;
    color: #4A4A4A;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.btn-hero:hover {
    background-color: #edd04d;
}

.btn-submmit {
    background-color: #FBE68A;
    color: #4A4A4A;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    transition: opacity 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.btn-submmit:hover{
    opacity: 0.7;
}
#carousel{
    background-color: #c6b8e6;
}
#carouselExemplo {
    border: 3px solid #fff;
    width: 80%;
    border-radius: 12px;
    margin: 50px 0;
  }
  
  .carousel-item {
    border-radius: 8px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    bottom: 40px;
    left: 10%;
    right: 10%;
    text-align: left;
  }
  

.saiba-mais, .doe {
    display: inline-block;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #8c7db1;
    color: white;
    margin-left: 5px;
    transition: background 0.5s;
    transition: transform 0.3s;
}

.saiba-mais:hover {
    transform: translateX(5px);
    background-color: #B5A3E0;
}

.doe{
    background-color: #FBE68A;
    color: #4A4A4A;
}
.doe:hover{
    transform: translateX(5px);
    background-color: #f0ce37;
}

.wrapper-button-2{
    width: 60px;
    height: 60px;
    background-color: #c7bbe7; 
    border-radius: 50%;       
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}
.wrapper-button-2:hover{
    background-color: #FBE68A; 

}
.apadrinhar{
    width: 60px;
    height: 60px;
    background-color: #000;
    -webkit-mask-image: url('../images/icons/ButtonApadrinhar1.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url('../images/icons/ButtonApadrinhar1.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
  
}
.modal-body .btn:hover{
    background-color: #f0ce37;
    color: black;
}
#nossa-historia{
    background-color: #8c7db1;
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#apoie img, #missao-valores img {
    transition: transform 0.3s ease;
  }
  #apoie img:hover, #missao-valores img:hover {
    transform: scale(1.03);
  }
  
  #apoie h2 {
    color: #444;
  }
  
  .btn {
    min-width: 180px;
  }

/* .footer {
    background-color: #c6b8e6;
    color: #ffffff;
    padding: 20px;
} */

@media(max-width: 990px){
      .card{
        height:40vh;
      }
      .container{
        justify-content: center;
      }
     
}

@media(max-width: 767px){
    .produto-bg:nth-child(2) { background-image: none; }
    .produto-bg:nth-child(3) { background-image: none; }
    .produto-bg:nth-child(4) { background-image: none; }
    .produto-bg:nth-child(5) { background-image: none; }
    .produto-bg:nth-child(6) { background-image: none; }
    .card{
        height:75vh;
      }
      .wrapper-button, .adotar{
        width: 90px;
        height: 90px;
      }
     
}
